
   nav {
     width: 100%;
     font-family: 'Dosis';
     color: white;
     z-index: 10;
   }
   
   .intro-section {
    color: black;
    font-family: 'Dosis';
    font-size: 24pt;
	  text-align: center;
   }
 
   .about-section {
    color: black;
    font-family: 'Dosis';
    font-size: 24pt;
	  text-align: center;
   }

   .about-me-description {
    color: black;
    font-family: 'Dosis';
    font-size: 14;
    text-align: center;
   }
   
   .cv-section {
    color: black;
    font-family: 'Dosis';
    font-size: 20pt;
	  text-align: center;
   }
   
   .contact-section {
    color: black;
    font-family: 'Dosis';
    font-size: 24pt;
    text-align: center;
   }
   
   a:link{
     text-decoration: none;
     color: black;
   }
